<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOPページ</title>
</head>
<body>
    <p>わーい</p>

    <script type="module">
        // HTTP Request
        import ky from 'https://esm.sh/ky';

        // 日付のフォーマット
        import { format } from "https://cdn.jsdelivr.net/npm/date-fns@3.3.0/+esm";
        // 日本語データ 
        import ja from "https://cdn.jsdelivr.net/npm/date-fns@3.3.0/locale/ja.mjs";



    </script>
</body>
</html>
