@charset "UTF-8";

/* 背景ロゴ */
body {
  background-image: url(../img/kk_ogp.png);
  background-repeat: no-repeat;
  background-position: center 100px;
}

/*三本線メニュー*/
/* メニューを左上に配置 */
.menu {}

/* マウスの反応領域 */
a.btn {}

/* 三本のうち真ん中の線  */
.line_icon {}

/*上の線*/
.line_icon:before {}

/*下の線*/
.line_icon:after {}

/*メニュークリック時に
  .line_iconと.closebtnを切り替える
  三→×へ
*/

/*真ん中の線を幅0にする*/
.closebtn {}

/*×になったときの上と下の線の縦位置を揃える*/
/*上の線を45度回転*/
.closebtn:before {}

/*上の線を-45度回転*/
.closebtn:after {}




/* 全画面メニュー */
.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

}

/* ナビゲーション */
.screen__menu li {
  margin: 0 0 30px 0;
}

.screen__menu a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

.screen__menu a:hover {
  opacity: 0.5;
  text-decoration: underline;
}